.header{
    padding: 20px 0;
    .inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &_logo{
        text-decoration: none;
        color:#fff;
        h2{
            font-size: 52px;
            font-weight: 700;
            margin: 0;
            @media (max-width:1000px) {
                font-size: 45px;
            }
            @media (max-width:600px) {
                font-size: 36px;
            }
        }
    }
    &_btn{
        outline: none;
        background-color: transparent;
        color:#fff !important;
        font-size: 20px;
    }
}